.auth-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth {
  &-inputs-container {
    width: 320px;
    text-align: center;
  }

  &-input {
    margin-bottom: 16px;
  }
}
