.user-card-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .user-fullname {
    display: block;
    font-size: 1rem;
    font-weight: 500;

    // text-overflow: ellipsis;
    // overflow: hidden;
    // white-space: nowrap;
  }

  .subtitle {
    font-size: 14px;
    color: var(--secondary-text);
  }

  .card-avatar {
    cursor: pointer;
    width: 48px;
  }
}
