.left-menu-item {
  padding: 16px 0;
  padding-left: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;

  color: var(--primary-text);
  font-size: 20px;
  font-weight: 500;

  .menu-icon {
    margin-right: 8px;
  }

  &.active {
    background-color: var(--left-menu-active);
    color: var(--white);
  }
}
