.left-menu-item {
  padding: 16px 0;
  padding-left: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;

  color: black;
  font-size: 24px;
  font-weight: 700px;

  .menu-icon {
    margin-right: 8px;
  }

  &.active {
    background-color: rgb(77, 93, 120);
    color: white;
  }
}
