.registration-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration {
  &-inputs-container {
    min-width: 320px;
    width: 500px;
    text-align: center;
  }

  &-input {
    margin-bottom: 16px;
  }
}
