.overlay-menu-wrapper {
  display: flex;
  flex-direction: column;

  .menu-button {
    margin-bottom: 16px;
  }
}

.avatar-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  .avatar {
    margin-right: 16px;
  }
}
