.left-menu-wrapper {
  // min-width: 280px;
  // max-width: 360px;
  background-color: var(--primary-bg);
  padding: 0 32px;
  position: relative;
  // flex-grow: 0.2;
  width: 350px;

  .menu {
    position: fixed;
    top: calc(70px + 30px);
  }
}
