.name {
  font-size: 20px;
  color: var(--primary-text);
  font-weight: 500;
}

.navbar-wrapper {
  width: 100%;
  background-color: var(--primary-bg);
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
