.name {
  font-size: 20px;
  color: var(--primary-text);
  font-weight: 500;
}

.navbar-wrapper {
  position: fixed;
  width: 100%;
  background-color: var(--primary-bg);
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--header-height);
  z-index: 1000;
}
